body {
    background-color: white;
    padding: 0 10% 0 10%;
}

.inner {
    background-color: lightgray;
    height: 10%;
    display: flex;
}

#nav {
    padding: 1em 0 1em 0;
    text-align: right;
    color: red;
}

#header-title {
    padding: 1em 60% 1em 5%;
    text-align: left;
}

.detail {
    padding: 0 100% 0 0;
    display: flex;
}

.catsum {
    padding: 1em 1em 3em 0;
}

.catgraph {
    padding: 1em 5em 1em 1em;
    align: center;
}

table {
    border-collapse: collapse;
}
th {
    background-color: #9bf6ff;
    color: black;
}
th, td {
    width: 10em;
    text-align: center;
    border: 1px solid black;
    padding: 5% 2em 5% 2em;
}

main {
    margin-bottom: 4em;
}
.items {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: calc(100% + 2em);
	margin: -2em 0 0 -2em;
}

	.items .item {
		margin: 2em 0 0 2em;
		width: calc(50% - 2em);
	}

.scrolling {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.itemcard {
    flex: 0 0 auto;
    padding: 1em 1em 1em 1em;
}

.itemcard img {
    width: 255px;
    height: 161px;
}

.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 4px;
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}


		.image.left {
			float: left;
			margin: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			margin: 0 0 1em 1.5em;
			top: 0.25em;
		}



