{% extends 'setForm_base.html' %}
{% block title %}View Category{% endblock %}

{% block content %}
<div class="bg-contact2">
    <div class="container-contact2">
        <div class="wrap-contact2">
            <form class="contact2-form validate-form" method="post">
                <span class="contact2-form-title">
                    View Category: {{ category['name'] }}
                </span>

                <div class="wrap-input2 validate-input" >
                    Category Id:<br>
                    {{ category['id'] }}
                </div>
                <div class="wrap-input2 validate-input" >
                    Category Name:<br>
                    {{ category['name'] }}
                </div>

                <div class="container-contact2-form-btn">
                    <div class="wrap-contact2-form-btn">
                        <div class="contact2-form-bgbtn"></div>
                        <a href="{{ url_for('setting.catalog') }}" class="contact2-form-btn">
                            Return
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}