{% extends 'setForm_base.html' %}
{% block title %}Add Degree{% endblock %}

{% block content %}
<div class="bg-contact2">
    <div class="container-contact2">
        <div class="wrap-contact2">
            <form class="contact2-form validate-form" method="post">
                <span class="contact2-form-title">
                    View Degree: {{ degree['name'] }}
                </span>

                <div class="wrap-input2 validate-input">
                    Degree ID:<br>
                    {{ degree['id'] }}
                </div>
                <div class="wrap-input2 validate-input">
                    Degree Name:<br>
                    {{ degree['name'] }}
                </div>

                <div class="container-contact2-form-btn">
                    <div class="wrap-contact2-form-btn">
                        <div class="contact2-form-bgbtn"></div>
                        <a href="{{ url_for('setting.degree_edit', id=degree['id']) }}" class="contact2-form-btn">
                            Edit
                        </a>
                    </div>
                </div>
                <div class="container-contact2-form-btn">
                    <div class="wrap-contact2-form-btn">
                        <div class="contact2-form-bgbtn"></div>
                        <a href="{{ url_for('setting.catalog') }}" class="contact2-form-btn">
                            Return
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}