{% extends 'setForm_base.html' %}
{% block title %}Edit Card{% endblock %}
{% block content %}
<div class="bg-contact2">
    <div class="container-contact2">
        <div class="wrap-contact2">
            <form class="contact2-form validate-form" method="post">
                <span class="contact2-form-title">
                    Edit Card: {{ card['name'] + ' - ' + card['bank'] }}
                </span>

                <div class="wrap-input2 validate-input">
                    Card ID:<br>
                    {{ card['id'] }}
                </div>
                <div class="wrap-input2 validate-input" data-validate="Card Name is required">
                    Card NAME:<br>
                    <input class="input2" type="text" name="name"
                           value="{{ request.form['name'] or card['name'] }}" required>
                </div>
                <div class="wrap-input2 validate-input">
                    Card Bank:<br>
                    <input class="input2" type="text" name="bank"
                           value="{{ request.form['bank'] or card['bank'] }}" required>
                </div>
                <div class="wrap-input2 validate-input">
                    Current Balance:<br>
                    <input class="input2" type="number" name="balance"
                           value="{{ request.form['balance'] or card['cur_balance'] }}">
                </div>
                <div>
                    Payment Due Day:<br>
                    <div class="wrapper-dropdown-3" >
						<select class="dropdown" name="pay_day">
                            {% for num in range(1, 31) %}
                                {% if card['pay_date'] == num %}
							        <option class="icon-envelope icon-large" value="{{ num }}" selected>{{ num }}</option>
                                {% else %}
                                    <option class="icon-envelope icon-large" value="{{ num }}">{{ num }}</option>
                                {% endif %}
                            {% endfor %}
						</select>
					</div>
                </div>


                <div class="container-contact2-form-btn">
                    <div class="wrap-contact2-form-btn">
                        <div class="contact2-form-bgbtn"></div>
                        <button class="contact2-form-btn" type="submit" value="Submit">
                            Save
                        </button>
                    </div>
                </div>

                <div class="container-contact2-form-btn">
                    <div class="wrap-contact2-form-btn">
                        <div class="contact2-form-bgbtn"></div>
                        <a href="{{ url_for('setting.card_view', id=card['id']) }}" class="contact2-form-btn">
                            Return
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
