{% extends 'setForm_base.html' %}
{% block title %}Add Degree{% endblock %}

{% block content %}
<div class="bg-contact2">
    <div class="container-contact2">
        <div class="wrap-contact2">
            <form class="contact2-form validate-form" method="post">
                <span class="contact2-form-title">
                    Add New Degree
                </span>

                <div class="wrap-input2 validate-input" data-validate="Degree Name is required">
                    <input class="input2" type="text" name="name" required>
                    <span class="focus-input2" data-placeholder="DEGREE NAME"></span>
                </div>

                <div class="container-contact2-form-btn">
                    <div class="wrap-contact2-form-btn">
                        <div class="contact2-form-bgbtn"></div>
                        <button class="contact2-form-btn" type="submit" value="Submit">
                            Save
                        </button>
                    </div>
                </div>

                <div class="container-contact2-form-btn">
                    <div class="wrap-contact2-form-btn">
                        <div class="contact2-form-bgbtn"></div>
                        <a href="{{ url_for('setting.catalog') }}" class="contact2-form-btn">
                            Return
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}