<!DOCTYPE HTML>
<html>
	<head>
		<title>Michael's Financial Tracker</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main-setting.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>Setting</h1>
					<p>Apply your settings here</p>
					<p>Return to<a href="{{ url_for('index.index') }}">Homepage</a></p>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>Configure Settings</h2>
						<p>All settings in this application will be configured here.<br />
						You can add new items into each existing catalog<br />
						or you can create new setting catalog.</p>
						<ul class="actions">
							<li><a href="#" class="button big">Learn More</a></li>
						</ul>
					</section>

				<!-- Items -->
					<section class="main items scrolling-wrapper-flexbox">
						{% for category in settings['cat'] %}
						<article class="item card">
							<header>
								<a href="{{ url_for('setting.category_view', cid=category['id']) }}"><img src="{{ url_for('static', filename='images/setting/'+category['name']+'.png') }}" alt="" /></a>
								<h3>{{ category['name'] }}</h3>
							</header>
							<ul>
								{% for sub in settings['sub'] %}
									{% if sub['c_id']==category['id'] %}
										<a href="{{ url_for('setting.sub_category_view', sid=sub['id']) }}">
											<li>{{ sub['name'] }}</li>
										</a>
									{% endif %}
								{% endfor %}
							</ul>
							<ul class="actions">
								<li><a href="{{ url_for('setting.sub_category_add', cid=category['id']) }}" class="button">Add Sub-categories</a></li>
							</ul>
						</article>
						{% endfor %}
						<article class="item card">
							<header>
								<a href="{{ url_for('setting.category_add') }}"><img src="{{ url_for('static', filename='images/setting/pic01.jpg') }}" alt="" /></a>
								<h3>New Category</h3>
							</header>
							<ul class="actions">
								<li><a href="{{ url_for('setting.category_add') }}" class="button">Add Category</a></li>
							</ul>
						</article>
					</section>
					<section class="main items">
						<article class="item">
							<header>
								<a href="#"><img src="{{ url_for('static', filename='images/setting/Card.png') }}" alt="" /></a>
								<h3>Card</h3>
							</header>
							<ul>
								{% for card in settings['card'] %}
									<a href="{{ url_for('setting.card_view', id=card['id']) }}">
										<li>{{ card['name'] + ' - ' + card['bank'] }}</li>
									</a>
								{% endfor %}
							</ul>
							<ul class="actions">
								<li><a href="{{ url_for('setting.card_add') }}" class="button">Add Card</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="{{ url_for('static', filename='images/setting/Degree.png') }}" alt="" /></a>
								<h3>Degree</h3>
							</header>
							<ul>
								{% for degree in settings['degree'] %}
									<a href="{{ url_for('setting.degree_view', id=degree['id']) }}">
										<li>{{ degree['name'] }}</li>
									</a>
								{% endfor %}
							</ul>
							<ul class="actions">
								<li><a href="{{ url_for('setting.degree_add') }}" class="button">Add Degree</a></li>
							</ul>
						</article>
					</section>

				<!-- CTA -->
					<section id="cta" class="main special">
						<h2>More Settings To Add</h2>
						<p>There will be more settings to add when this application grows bigger<br />
						This is the setting section for data input now<br />
						More settings will be add when Report function is working.</p>
						<ul class="actions">
							<li><a href="#" class="button big">Get Started</a></li>
						</ul>
					</section>

				<!-- Main -->
				<!--
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				-->

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Michael. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/setting/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/setting/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/setting/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/setting/main.js') }}"></script>

	</body>
</html>