{% extends 'spending_base.html' %}
{% block title %}Edit a Spending{% endblock %}

{% block content %}

<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" method="post">
            <span class="contact100-form-title">
                Edit a Spending {{ spending['id'] }}
            </span>

            <div class="wrap-input100 validate-input bg1" data-validate="Please enter spending name">
                <span class="label-input100">Spending Title</span>
                <input class="input100" type="text" name="name"
                       value="{{ request.form['name'] or spending['name'] }}" required>
            </div>
            <div class="wrap-input100 validate-input bg1" data-validate="Please enter the Amount of spending">
                <span class="label-input100">Amount</span>
                <input class="input100" type="number" name="amount"
                       value="{{ request.form['amount'] or spending['amount'] }}" required step="0.01">
            </div>

            <div class="wrap-input100 input100-select bg1">
                <span class="label-input100">Category</span>
                <div>
                    <select class="js-select2" name="sub_category" required>
                        <option value="">Choose a Category</option>
                        {% for cat in settings['cats'] %}
                        <optgroup label="{{ cat['name'] }}">
                            {% for sub in settings['subCats'] %}
                            {% if sub['c_id']==cat['id'] %}
                                {% if sub['id']==spending['sub_category'] %}
                                <option value="{{ sub['id'] }}" selected>{{ sub['name'] }}</option>
                                {% else %}
                                <option value="{{ sub['id'] }}">{{ sub['name'] }}</option>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>

            <div class="wrap-input100 validate-input bg1" data-validate="Please Enter date as format: MM/DD/YYYY">
                <span class="label-input100">Spending Date</span>
                <input class="input100" type="text" name="date"
                       value="{{ request.form['date'] or date }}" required>
            </div>

            {% block card %}
            <div class="wrap-input100 bg1 rs1-wrap-input100">
                <span class="label-input100">Card *</span>
                <div>
                    <select class="js-select2" name="card" required>
                        <option value="">Please Choose a Card</option>
                        {% for card in settings['cards'] %}
                        {% if card['id']==spending['card'] %}
                        <option value="{{ card['id'] }}" selected>{{ card['name'] + ' - ' + card['bank'] }}</option>
                        {% else %}
                        <option value="{{ card['id'] }}">{{ card['name'] + ' - ' + card['bank'] }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>
            {% endblock %}
            <div class="wrap-input100 bg1 rs1-wrap-input100">
                <span class="label-input100">Degree</span>
                <div>
                    <select class="js-select2" name="degree" required>
                        <option value="">Please Choose a Degree</option>
                        {% for degree in settings['degrees'] %}
                        {% if degree['id']==spending['degree'] %}
                        <option value="{{ degree['id'] }}" selected>{{ degree['name'] }}</option>
                        {% else %}
                        <option value="{{ degree['id'] }}">{{ degree['name'] }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>

            <div class="wrap-input100 bg0 rs1-alert-validate">
                <span class="label-input100">Message</span>
                <textarea class="input100" name="comments" value="{{ request.form['comments'] or spending['comments'] }}"></textarea>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn" type="submit" name="mode" value="com">
                    <span>
                        Save The Change
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="container-contact100-form-btn">
                <a href="{{ url_for('report.view_all_spending') }}" class="contact100-form-btn">
                    Return
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
