<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report/main.css') }}" />
    {% block head %}{% endblock %}
</head>
<body>
    <header id="header">
        <div class="inner">
            <div id="header-title">
                <b>Michael's Financial Tracker</b>
            </div>
            <nav id="nav">
                <a href="{{ url_for('index.index') }}">Home</a>
                <a href="{{ url_for('setting.catalog') }}">Settings</a>
                <a href="{{ url_for('report.catalog') }}">Reports</a>
                {% block nav%}{% endblock %}
            </nav>
        </div>
    </header>
    {% block content %}{% endblock %}
    {% block script %}{% endblock %}
</body>
</html>